@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fafaf9; /* stone-50 */
  color: #292524; /* stone-800 */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', serif;
}